*.annot
*.cmo
*.cma
*.cmi
*.cmt
*.cmti
*.a
*.o
*.cmx
*.cmxs
*.cmxa
*.glob
*.vo
*.d
*.depend
.merlin

*.dko

_build
config.v

# emacs tmp files
*~
*#

CoqMakefile

# Generated .aux files
*.aux

# Debugging files
*.out
*.conf

# Saves of successful exports
*.zip
*.tar.gz

out.txt